In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import time
from matplotlib import pyplot
import seaborn as sns
from sklearn import preprocessing

In [ ]:
# path from github
#path_artworks = 'https://raw.githubusercontent.com/Beatriz-GFPereira/DV_Project/datasets/Artwork.csv'

In [44]:
data = pd.read_csv('Artworks.csv')

In [45]:
data.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138151 entries, 0 to 138150
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Title               138112 non-null  object
 1   Artist              136868 non-null  object
 2   ConstituentID       136868 non-null  object
 3   ArtistBio           132226 non-null  object
 4   Nationality         136868 non-null  object
 5   BeginDate           136868 non-null  object
 6   EndDate             136868 non-null  object
 7   Gender              136868 non-null  object
 8   Date                135949 non-null  object
 9   Medium              128450 non-null  object
 10  Dimensions          128397 non-null  object
 11  CreditLine          135714 non-null  object
 12  AccessionNumber     138151 non-null  object
 13  Classification      138151 non-null  object
 14  Department          138151 non-null  object
 15  DateAcquired        131026 non-null  object
 16  Cataloged           138151 non-null  object
 17  ObjectID            138151 non-null  int64
 18  URL                 87184 non-null   object
 19  ThumbnailURL        76409 non-null   object
 20  Circumference (cm)  10 non-null      float64
 21  Depth (cm)          13839 non-null   float64
 22  Diameter (cm)       1462 non-null    float64
 23  Height (cm)         120355 non-null  float64
 24  Length (cm)         742 non-null     float64
 25  Weight (kg)         290 non-null     float64
 26  Width (cm)          119434 non-null  float64
 27  Seat Height (cm)    0 non-null       float64
 28  Duration (sec.)     2140 non-null    float64
dtypes: float64(9), int64(1), object(19)
memory usage: 30.6+ MB

In [47]:
data=data[['Title', 'Artist', 'Nationality', 'Gender', 'Date','Classification', 'Department']]

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138151 entries, 0 to 138150
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           138112 non-null  object
 1   Artist          136868 non-null  object
 2   Nationality     136868 non-null  object
 3   Gender          136868 non-null  object
 4   Date            135949 non-null  object
 5   Classification  138151 non-null  object
 6   Department      138151 non-null  object
dtypes: object(7)
memory usage: 7.4+ MB

In [49]:
data= data.dropna()

In [50]:
data = data[~data.Artist.str.contains(", ")]

In [51]:
data

,Title,Artist,Nationality,Gender,Date,Classification,Department
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,(Austrian),(Male),1896,Architecture,Architecture & Design
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,(French),(Male),1987,Architecture,Architecture & Design
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,(Austrian),(Male),1903,Architecture,Architecture & Design
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,(),(Male),1980,Architecture,Architecture & Design
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,(Austrian),(Male),1903,Architecture,Architecture & Design
...,...,...,...,...,...,...,...
138145,"Silver Springs, FL",Unknown photographer,(),(),February 1903,Photograph,Photography
138147,Plate (folio 2 verso) from Muscheln und schirm...,Sophie Taeuber-Arp,(Swiss),(Female),1939,Illustrated Book,Drawings & Prints
138148,Plate (folio 6) from Muscheln und schirme (She...,Sophie Taeuber-Arp,(Swiss),(Female),1939,Illustrated Book,Drawings & Prints
138149,Plate (folio 12) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,(Swiss),(Female),1939,Illustrated Book,Drawings & Prints
138150,Plate (folio 16) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,(Swiss),(Female),1939,Illustrated Book,Drawings & Prints

In [52]:
len(data.Artist.unique())

10849

In [54]:
data = data.drop_duplicates()

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102141 entries, 0 to 138150
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           102141 non-null  object
 1   Artist          102141 non-null  object
 2   Nationality     102141 non-null  object
 3   Gender          102141 non-null  object
 4   Date            102141 non-null  object
 5   Classification  102141 non-null  object
 6   Department      102141 non-null  object
dtypes: object(7)
memory usage: 6.2+ MB

In [56]:
data.head()

,Title,Artist,Nationality,Gender,Date,Classification,Department
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,(Austrian),(Male),1896,Architecture,Architecture & Design
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,(French),(Male),1987,Architecture,Architecture & Design
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,(Austrian),(Male),1903,Architecture,Architecture & Design
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,(),(Male),1980,Architecture,Architecture & Design
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,(Austrian),(Male),1903,Architecture,Architecture & Design

In [58]:
def remove_punct(test_str, punc):
    for ele in test_str:  
        if ele in punc:  
            test_str = test_str.replace(ele, "") 
    return test_str

In [59]:
punc=['(',')']

In [61]:
data['Nationality'] = data['Nationality'].map(lambda word: remove_punct(word,punc))

In [62]:
data['Gender'] = data['Gender'].map(lambda word: remove_punct(word,punc))

In [67]:
data.replace('',np.nan,inplace=True)

In [69]:
data = data.dropna()

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97679 entries, 0 to 138150
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           97679 non-null  object
 1   Artist          97679 non-null  object
 2   Nationality     97679 non-null  object
 3   Gender          97679 non-null  object
 4   Date            97679 non-null  object
 5   Classification  97679 non-null  object
 6   Department      97679 non-null  object
dtypes: object(7)
memory usage: 6.0+ MB

In [74]:
data.reset_index(inplace=True)